<a href="https://colab.research.google.com/github/S0c1nt/Exam/blob/main/%D0%94%D0%BE%D0%BF_%D0%B0%D1%82%D1%80%D0%B8%D0%B1%D1%83%D1%82%D1%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
df['INCOME_MAIN_AMT_USD'] = df['INCOME_MAIN_AMT'].apply(lambda x: x / 80)

In [ ]:
df

In [ ]:
df3 = df2['LOCATION_NAME'].str.split('\\', 4 , expand= True )
df3.columns = ['shop', 'street', 'city', 'index']
df3

In [ ]:
df6 = pd.concat([df2, df3], axis=1)
df6 = df6.drop(['shop', 'street', 'LOCATION_NAME'], axis=1)
df6

In [ ]:
df6.info()

In [ ]:
df